<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" />

<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
</head>
<body>
<!-- Empieza barra de navegacion  -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
<!-- Titulo principal  -->

		<a class="navbar-brand" href="#">Spring Boot</a> 
		<button class="navbar-toggler" type="button">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav mr-auto">
			
			<!-- Items de la barra de navegacion  -->
				<li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="#about" th:href="@{/listar}">Listar</a></li>
			</ul>
		</div>
	</nav>
	<!-- Contenedor tabla -->
	<div class="container">

		<h1 class="text-secondary" th:text="${titulo}"></h1>
		<a th:href="@{/form}"> Crear Cliente</a>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>id</th>
					<th>nombre</th>
					<th>apellido</th>
					<th>email</th>
					<th>fecha</th>
					<th>Editar</th>
					<th>Eliminar</th>
				</tr>

			</thead>
			<tbody>
			<!-- Etiqueta cliente hace referencia a la tabla clientes con thymeleaf  -->
				<tr th:each="cliente: ${clientes}">
					<td th:text="${cliente.id}"></td>
					<td th:text="${cliente.nombre}"></td>
					<td th:text="${cliente.apellido}"></td>
					<td th:text="${cliente.email}"></td>
					<td th:text="${cliente.creacion}"></td>
					<td><a class="btn btn-primary btn-xs" th:href="@{/form/} + ${cliente.id}" th:text="'Editar'" ></a>  </td>
					<td><a class="btn btn-danger btn-xs" th:href="@{/eliminar/} + ${cliente.id}" th:text="'Eliminar'" ></a>  </td>
				</tr>

			</tbody>



		</table>

	</div>
</body>
</html>